<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../css/loginForm.css" th:href="@{/css/loginForm.css}" rel="stylesheet">

</head>
<body>
<h3>로그인</h3>


<form th:object="${loginForm}" th:action="@{/login}" method="post">
    email : <input type="text" th:field="${loginForm.email}"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="${loginForm.email}" style="color: red;"></span><br>
    password : <input type="password" th:field="${loginForm.password}"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="${loginForm.password}" style="color: red;"></span><br>

    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" style="color: red;" th:text="${err}">전체 오류
            메시지</p>
    </div>

    <div id="error-message" style="color: red;"></div>

    <button type="button" onclick="submitForm()">Submit</button>
</form>


<div id="dataContainer"></div>
<script>
    function submitForm() {
        var email = document.querySelector("input[name='email']").value;
        var password = document.querySelector("input[name='password']").value;

        var url = "/login";

        fetch(url, {
            method : 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body   : JSON.stringify({
                email   : email,
                password: password
            })
        })
            .then(response => {

                if (!response.ok) {

                    return response.json().then(errorData => {
                        throw new Error(JSON.stringify(errorData));
                    })
                }
                return response.json


            })
            .then(data => {
                window.location = "http://localhost:8080/";


            })
            .catch(error => {
                const errorData = JSON.parse(error.message)
                console.error('데이터 불러오기 실패:', errorData);
                console.log("예외 메시지" + errorData.message)
                console.log("예외 예외" + errorData.exceptions);

                const errorMessageElement
                    = document.getElementById('error-message');
                errorMessageElement.innerHTML = `
                  <p>예외 메시지: ${errorData.message}</p>
            <ul>
                ${errorData.exceptions.map(exception => `<li>${exception}</li>`).join('')}
            </ul>`

            }).finally(result => {
                console.log("fetch 작업 완료")
            }
        );

    }

</script>


</body>
</html>